* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: brown;
}

.d-flex {
    display: flex;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mezzo {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.d-none {
    display: none;
}
.biglietto {
    max-width: 1170px;
    margin: 50px auto;
    background-color: palegoldenrod;
}

.dati_passeggero {
    background-color: gray;
    
    width: 30%;
}

.altri_dati {
    display: flex;
    justify-content: space-between;
    width: 100%;
}